:root {
  --gutter-width: 12px;
  --cell-padding: 6px 0px;

  --header-icon-background: #fff;
  --header-icon-default: #e0e0e0;
  --header-icon-active: #fff;
  --header-icon-asc: #17365d;
  --header-icon-desc: #7d3650;
  --header-title-color: #172d4a;
  --main-column-color: #172d4a;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* TABLE CONTAINERS */
.table-wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.table-grid {
  overflow-x: auto;
  overflow-y: hidden;
  height: 1000px;
  scroll-behavior: smooth;
}
/* END OF TABLE CONTAINERS */


/* COLUMN CATEGORIES */
.table-categories {
  display: flex;
  width: 100%;
}

.category-title {
  text-align: center;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  padding-left: var(--cell-half-padding);
  padding-right: var(--cell-half-padding);
  color: #172d4a;
}

.category-title .cat-border {
  padding-top: 7px;
  border-bottom: 1px solid #172d4a;
  width: 100%;
}

.category-title:first-child,
.category-title:nth-child(2) {
  visibility: hidden;
}
/* END OF COLUMN CATEGORIES */

/* TABLE HEADER */

.table-header {
  display: flex;
  padding-bottom: 15px;
  height: 125px;
}

.header-text {
  text-align: center;
  margin-top: 12px;
  user-select: none;
  color: var(--header-title-color);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
}

.table-head .arrow {
  visibility: hidden;
  padding: 3px 0px;
}

.table-head.active .arrow {
  visibility: visible;
}

.table-head.active.asc .arrow {
  transform: rotate(180deg);
  color: var(--header-icon-asc);
}

.table-head.active.desc .arrow {
  color: var(--header-icon-desc);
}

.table-head.active .square-icon {
  border: none;
}

.table-head.active.asc .square-icon {
  background-color: var(--header-icon-asc);
}

.table-head.active.desc .square-icon {
  background-color: var(--header-icon-desc);
}

.table-head:last-child .table-icon {
  padding-right: 0px;
}

.table-head:first-child .table-icon {
  padding-left: 0px;
}

.table-icon .square-icon .icon {
  color: var(--header-icon-default);
  cursor: pointer;
}

.table-head:not(.main-column) .icon {
  width: 36px;
  height: 36px;
}

.table-head.active .square-icon .icon {
  color: var(--header-icon-active);
}

.table-icon .square-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  margin: 0;
  background-color: var(--header-icon-background);
  width: 100%;
  height: 58px;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.table-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px calc(var(--gutter-width) / 2);
}

.table-icon .square-icon .icon svg {
  width: 100%;
  height: 100%;
}

/* END OF TABLE HEADER */

/* HEADER TOOLTIP */

.tippy-content {
  color: #828282;
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  font-family: "Open Sans";
}

.tippy-box {
  border: 1px solid rgba(23, 54, 93, 0.6);
}
/* TOOLTIP */

/* TABLE BODY */
.color-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 10px;
  line-height: 11px;
  border-radius: 5px;
  display: grid;
  padding: 5px;
}

.value-column {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.value-column .value,
.value-column .label {
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  grid-column: 1;
  grid-row: 1;
}

.hide-values .value-column:not(:nth-child(2)) .value {
  opacity: 0;
}

.value-column .label {
  opacity: 0;
}

.hide-values .value-column .label {
  opacity: 1;
}

.table-data {
  padding: 0px calc(var(--gutter-width) / 2);
}

.table-data:last-child {
  padding-right: 0px;
}

.table-data:first-child {
  padding-left: 0px;
}

.table-data-inner {
  padding: var(--cell-padding);
}

.value-column .table-data-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-column .table-data-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: var(--main-column-color);
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  line-height: 16px;
}

.table-head:first-child .header-text {
  font-weight: bold;
  font-size: 11px;
}

.table-row {
  width: 100%;
  position: absolute;
  display: flex;
}

.table-row.bordered {
  border-top: 1px solid #17365d;
}

.table-row.bordered:last-child {
  border-bottom: 1px solid #17365d;
}

.responsive .table-body .table-row.bordered .main-column {
  border-top: 1px solid #17365d;
  margin-top: -1px;
}

.responsive .table-body .table-row.bordered:last-child .main-column {
  border-bottom: 1px solid #17365d;
}

.show-btn {
  margin: 0 auto;
  display: block;
  min-width: 290px;
  max-width: 50%;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #17365d;
  background: #ffffff;
  border: 1px solid #17365d;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  margin-top: 15px;
  padding: 12px;
}

.location-txt {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

/* END OF TABLE BODY */
